<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New-Portfolio</title>
    <link rel="stylesheet" href="./New-Portfolio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Components/hamm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@400;500;600&family=Righteous&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="first_back_image">
        <header class="main_page_header flex">
            <div class="header_headding">
                <!-- <h2>Surendran Kumar</h2> -->
            </div>
            <nav class="header_navbar ">
                <div class="header_links flex">
                    <a href="New-Portfolio.html">Home</a>
                    <a href="#edu">Education</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
               
            </nav>
        </header>
        <!--MOBILE HEADER  -->
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <!-- <h1>SR</h1> -->
                    </div>
                    <div class="menu-items">
                        <li><a href="#">Home</a></li>
                        <li><a href="#edu">Education</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        <!-- <li><a href="#">contact</a></li> -->
                    </div>
                </div>
            </div>
        </nav>

        <!--  -->


        <div class="main-div-flex">
            <h1>I'M SURENDRAN</h1>
            <h3> FRONT-END DEVELOPER</h3>
        </div>
    </div>
    <div class="main_container_parent flex">
        <div class="main_container">

            <!-- education********section start -->

            <div class="Education" id="edu">
                <h2>EDUCATION</h2>
            </div>
            <div class="Education_container flex">
                <div>
                    <img src="../Assets/Images/education images.png" alt="education" class="education_section_img">
                </div>
                <div class="Education_details_parent flex">
                    <div class="Education_details">
                        <img src="../Assets/Icons/student.png" alt="school" class="education_icons">
                        <h3>school</h3>
                        <p>P.S.Higher secondary school</p>
                        <p>Mylapore</p>
                        <p>2013-2014</p>

                    </div>
                    <div class="Education_details">
                        <img src="../Assets/Icons/achievement.png" alt="diploma" class="education_icons">
                        <h3>diploma</h3>
                        <p>Central Polytechnic Collage</p>
                        <p>Tharamani</p>
                        <p>2014-2017</p>
                    </div>
                    <div class="Education_details">
                        <img src="../Assets/Icons/graduate.png" alt="collage" class="education_icons">
                        <h3>college</h3>
                        <p>University Of Madras</p>
                        <p>Chepauk</p>
                        <p>2019-2021</p>
                    </div>
                </div>

            </div>
            <!-- ************work details******** -->
            <div>

            </div>
            <!-- ************************skills************** -->
            <div class="my_skills_container" id="myskills">
                <div class="my_skills_heading">
                    <h2>MY-SKILLS</h2>
                </div>
                <div class="my_skills_img_container">
                    <div class="skill-box">
                        <img src="../Assets/Icons/html5.svg" alt="html" class="my_skills_img">
                        <p>html</p>
                    </div>
                    <div class="skill-box">
                        <img src="../Assets/Icons/css3-alt.svg" alt="css" class="my_skills_img">
                        <p>css</p>
                    </div>
                    <div class="skill-box">
                        <img src="../Assets/Icons/js.svg" alt="js" class="my_skills_img">
                        <p>javascript</p>
                    </div>
                    <div class="skill-box">
                        <img src="../Assets/Icons/python.svg" alt="python" class="my_skills_img">
                        <p>python</p>
                        <!-- <p>basics</p> -->
                    </div>
                    <div class="skill-box">
                        <img src="../Assets/Icons/database-solid.svg" alt="my-sql" class="my_skills_img">
                        <p>my-sql</p>
                        <!-- <p>basics</p> -->
                    </div>
                    <div class="skill-box">
                        <img src="../Assets/Icons/github.svg" alt="github" class="my_skills_img">
                        <p>git</p>
                    </div>
                </div>


            </div>
            <!-- *************WORK#@$@#$%********* -->
            <div class="work_container" id="mywork">
                <div class="work_container_heading">
                    <h2>MY WORKS</h2>
                    <!-- <p>service engineer role below the project</p> -->
                </div>
                <div class="work_img_container flex">

                    <div>
                        <img src="../Assets/Images/pexels-deybson-mallony-5727002 (1).jpg" alt="printer"
                            class="work_imgs">

                    </div>
                    <div>
                        <img src="../Assets/Images/projector.jpg" alt="projecter" class="work_imgs">
                    </div>
                    <div>
                        <img src="../Assets/Images/pexels-andrea-piacquadio-3831873.jpg" alt=" scanner"
                            class="work_imgs">
                    </div>
                    <div>
                        <img src="../Assets/Images/web.jpg" alt=" web" class="work_imgs">
                    </div>
                    <div>
                        <img src="../Assets/Images/mainboard.jpg" alt="main" class="work_imgs">
                    </div>
                    <div>
                        <img src="../Assets/Images/wireless.jpg" alt="wireless" class="work_imgs">
                    </div>

                </div>
            </div>





            <!-- ***************about me******** -->

            <div class="about_heading" id="about">
                <h2>ABOUT ME</h2>
            </div>
            <div class="about_container flex">

                <div class="my_image_class">
                    <img src="../Assets/Images/suresh.png" alt="" class="my_image">
                </div>

                <div class="about_me ">

                    <div>
                        <p>

                            hi I am Surendran, I live in Besant Nagar, Chennai, I have completed diploma electronics and
                            communication engineering and was working as a service engineer in a company called Epson
                            service centre, and after completing my bachelor of computer applications, I joined flyers
                            soft as a front-end developer and was working on it.


                        </p>


                    </div>








                </div>

            </div>

            <div class="contact_container" id="contact">
                <div class="contact_heading">
                    <h2>CONTACT</h2>
                </div>
                <div class="contact_section">

                    <div class="contact_contents">

                        <div>
                            <a href="https://www.instagram.com/" target="_blank"><img src="../Assets/Icons/instagram.png" alt="insta"
                                    class="contact_img"></a>
                        </div>
                        <div>
                            <!-- <p>suresh0930</p> -->
                        </div>
                    </div>
                    <div class="contact_contents">

                        <div>
                            <a href="https://web.whatsapp.com/" target="_blank"> <img src="../Assets/Icons/whatsapp (2).png" alt="whatsapp"
                                    class="contact_img"></a>
                        </div>
                        <div>
                            <!-- <p>9176251739</p> -->
                        </div>
                    </div>
                    <div class="contact_contents">

                        <div>
                            <a href="https://www.facebook.com/" target="blank"> <img src="../Assets/Icons/facebook.png" alt="facebook"
                                    class="contact_img"></a>
                        </div>
                        <div>
                            <!-- <p>sureshsr</p> -->
                        </div>
                    </div>
                    <div class="contact_contents">

                        <div>
                            <a href="https://mail.google.com/mail/" target="_blank"> <img src="../Assets/Icons/gmail.png" alt="gmail"
                                    class="contact_img"></a>
                        </div>
                        <div>
                            <!-- <p> kumardhanalashmi@gmail.com </p> -->
                        </div>
                    </div>
                    <div class="contact_contents">
                        <a href="https://www.linkedin.com/login" target="_blank">
                            <img src="../Assets/Icons/linkedin_145807.png" alt="linkedin" class="contact_img">
                        </a>
                    </div>
                </div>

            </div>














        </div>
    </div>
    <footer>
        <div class="footer_container flex">
            <div>
                <a href="#">Home</a>
            </div>
            <div>
                <a href="#edu">Education</a>
            </div>
            <div>
                <a href="#myskills">My Skills</a>
            </div>
            <div>
                <a href="#mywork">Mywork</a>
            </div>
            <div>
                <a href="#about">About</a>
            </div>
            <div>
                <a href="#contact">Contact</a>
            </div>








        </div>
    </footer>


</body>

</html>